body {
	background: url(https://s-media-cache-ak0.pinimg.com/originals/77/d5/89/77d5892879682be6d71f83ff5eda71b4--calvin-and-hobbes-wallpaper-beach-wallpaper.jpg) no-repeat center center fixed;
                -webkit-background-size: cover;
                -moz-background-size: cover;
                -o-background-size: cover;
                background-size: cover; 
                background-size: 100% 100%;
}

audio {
	position: relative;
	top: 363px;
	left: 140px;
}

.container {
	padding-top: 100px;
}


.poke {
	
	border-radius: 50px;

}



#game {

	position: relative;
	
	font-size: 17px;
}


.pokedex {
	position: absolute;
	height: 520px;
	left: -240px
}

.text {
	position: absolute;
	left: -182px;
	top: 140px;
	line-height: 35px;
}
#img {
	position: relative;
	left: -70px
}

.navbar {
	position: fixed;
	padding-top: 10px;
}


@media screen and (max-width: 2000px) {

	.logo {
		height: 180px;
		width: 800px;
	}

	.poke {
		height: 500px;
	}

	.pokedex {
		height: 550px;
		left: -290px;
	}

	#game {
		font-size: 17px;
	}

	.text {
		top: 150px;
		left: -230px;

	}
  .container {
    width: 1670px;
    padding-top: 100px;
  }
  audio {
	position: relative;
	top: 363px;
	left: 140px;

}
}

@media screen and (max-width: 1580px) {

	.logo {
		height: 140px;
		width: 550px;
	}

	.poke {
		height: 400px;
	}

	.pokedex {
		height: 450px;
		left: -290px;
	}

	#game {
		font-size: 13px;
	}

	.text {
		top: 130px;
		left: -240px;
		line-height: 27px;
	}
  .container {
    width: 1370px;
    padding-top: 33px;


  }

  .footer {
  	padding-top: 60px;
  }
  audio {
	position: relative;
	top: 293px;
	left: 59px;
	width: 250px
}
}

@media screen and (max-width: 1220px) {

	.logo {
		height: 100px;
		width: 450px;
	}

	.poke {
		height: 350px;
	}

	.pokedex {
		height: 410px;
		left: -312px;
	}

	#game {
		font-size: 13px;
	}

	.text {
		top: 113px;
		left: -270px;
	}
  .container {
    width: 1370px;
    padding-top: 200px;
  }
  audio {
	position: relative;
	top: 265px;
	left: 3px;
	width: 240px;
}
}

@media screen and (max-width: 990px) {

	.poke {
		position: relative;
		left: 254px;
	}

	.pokedex {
		left: -13px;
	}

	.text {
		top: 113px;
		left: 17px;
		position: relative;
		font-size: 12px;
	}

#game {
	position: absolute;
	left: 269px;
	font-size: 13px;
	}
audio {
	position: relative;
	top: 265px;
	left: 572px;
	width: 240px;
}
.container {
	padding-top: 50px;
}
}




